@model FSM.Web.Areas.Customer.ViewModels.CustomerSiteDocumentsListViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "AddCustomerInfo";
    Layout = null;
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<script src="~/Scripts/bootstrap.js"></script>
<script>
        var FSM={
            CustomerGeneralInfoId:""
        };
        FSM.SiteId = @Html.Raw(Json.Encode(Model.CustomerSiteDocuments.SiteId));
    FSM.JobId='@ViewBag.JobId';
    FSM.InvoiceId='@ViewBag.invoiceid'; 
    
</script>
<script src="~/Areas/Employee/Scripts/AddJobDocuments.js"></script>
@using (Html.BeginForm("AddJobDocuments", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "addDocumentForm" }))
{
    @Html.HiddenFor(m => m.CustomerSiteDocuments.SiteId)
    @Html.HiddenFor(m => m.CustomerSiteDocuments.DocumentId)
    @Html.HiddenFor(m => m.CustomerSiteDocuments.CustomerGeneralInfoId)
    <div class="alert alert-success jobalert" style="display:none">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    @*@Html.HiddenFor(m=>m.SiteCountviewModel.SiteDetailId)*@
    <div class="col-md-12 no-pad">
        <div class="outer_box_doc">
            @*@Html.Partial("_JobSiteDocumentInfoSearch", new ViewDataDictionary())*@
            <div class="add_doc">
                <input type="button" value="Add" id="add_btn" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="table-responsive" id="divContactPartial">
        <div class="document_collapse" style="display:none;">
            <div class="header">
                <span>Add document</span>
            </div>
            <div class="content col-md-12">

                <div class="row">
                    <div class="form-group col-md-4">
                        <div style="display:none">
                            @Html.DropDownListFor(model => model.SiteCountviewModel.SiteDetailId, new SelectList(Model.SiteCountviewModel.siteDetail, "SiteDetailId", "SiteAddress"),new { @id = "ddlSite", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SiteCountviewModel.SiteDetailId, "", new { @class = "validate_red", @id = "validateSitename" })
                        </div>
                        <h4 style="margin-top:0px;">&nbsp;Site:<span id="showSiteAddress"></span></h4>
                     </div>
                    <div class="form-group col-md-4">
                        <div class="Profile">
                            @*<div class="browse_pic">*@
                            @Html.TextBox("filename", "", new { type = "file", accept = "image/x-png,image/gif,image/jpeg,.docx,.xlsx,.txt", @id = "docName" })
                            @*</div>*@
                            <div id="divProfilePic"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="button" value="Save" class="btn btn-default search_doc" onclick="return ValidateDocs()" />
                    </div>
                </div>
               
            </div>
            <div id="dropArea">
                Drop your files here
            </div>
        </div>
        <div id="dvShowCustList">
            @Html.Partial("_JobSiteDocumentList", Model)
        </div>
        <div class="quicksiteviewdiv"></div>
    </div>

    <div id="modalcustdoc" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Documents</h4>
                </div>
                <div class="modal-body modaldoc">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Areas/Customer/Scripts/CustomerSiteDocument.js"></script>
<script src="~/Scripts/filedrop.js"></script>
