@model FSM.Web.Areas.Employee.ViewModels.AssetManagementSearchViewModel
@using FSM.Web.Common;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="outer_box2">
        @Html.HiddenFor(m => m.PageSize)
        <div class="form-group col-sm-3">

        </div>
        @*<div class="clearfix"></div>*@
        <div class="search_customer_block stock_top_bg">
            <div class="col-sm-4">
                <div class="search_customer">
                    @Html.EditorFor(model => model.searchkeyword, new { htmlAttributes = new { @class = "form-control", @style = "display:inline", @placeholder = " Search Keyword" } })
                </div>
              
            </div><!--search_customer-->
            <div class="form-group col-sm-2">
                @Html.EnumDropDownListFor(model => model.AssetAssignStatus, "(Select)", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-2 text-left">
                <input type="submit" value="Search" class="search_btn black-btn search_pad" />
            </div>
           


            <a type="button" class="btn btn-primary pull-right btnaddAsset" href="@Url.Action("AddAssetManage","AssetManagement", new { Area = "Employee" })">
                <i class="" aria-hidden="true"></i>
                Add Asset
            </a>
        </div>
    </div>
}
